
body {
margin: 0;
margin-bottom: 25px;
padding: 0;
background-color: #fff;
/* background-image: url("/images/perldancer-bg.jpg"); */
background-repeat: no-repeat;
background-position: top left;

font-family: "Lucida Grande", "Bitstream Vera Sans", "Verdana";
font-size: 18px;
color: #333;
}

h1 {
font-size: 38px;
color: #000;
}

a  {color: #03c}
a:hover {
background-color: #03c;
color: white;
text-decoration: none;
}

#page {
background-color: #ddd;
width: 750px;
margin: auto;
margin-left: auto;
padding-left: 0px;
margin-right: auto;
}

#content {
background-color: white;
border-top: none;
padding: 125px;
width: 700px;
}

#sidebar {
float: right;
width: 175px;
}

#header, #about, #getting-started {
padding-left: 75px;
padding-right: 30px;
}


#header {
background-image: url("/images/perldancer.jpg");
background-repeat: no-repeat;
background-position: top left;
height: 64px;
}
#header h1, #header h2 {margin: 0}
#header h2 {
color: #888;
font-weight: normal;
font-size: 16px;
}

#about h3 {
margin: 0;
margin-bottom: 10px;
font-size: 14px;
}

#search {
margin: 0;
padding-top: 10px;
padding-bottom: 10px;
font-size: 11px;
}
#search input {
font-size: 11px;
margin: 2px;
}
#search-text {width: 170px}

#navbar ul{
position:absolute;
right:100px;
top:15px;
list-style-type:none;
margin:0;
padding:0;
}
#navbar li {
display: inline;
background-color: #ff0;
}

h1, h2, h3, h4, h5 {
font-family: sans-serif;
margin: 1.2em 0 0.6em 0;
}


code, tt {
    font-family: 'Andale Mono', Monaco, 'Liberation Mono', 'Bitstream Vera Sans Mono', 'DejaVu Sans Mono', monospace;
}

#content{
}
#footer {
clear: both;
padding-top: 2em;
text-align: center;
padding-right: 160px;
font-family: sans-serif;
font-size: 10px;
}

div {
  width: 200px;
}
 
h2 {
  font: 400 40px/1.5 Helvetica, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}
 
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
 
li.results {
  font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
  border-bottom: 1px solid #ccc;
}
 
li.results:last-child {
  border: none;
}
 
li.results a.results {
  text-decoration: none;
  color: #000;
  display: block;
/*  width: 200px; */
 
  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease;
}
 
li.results a.results:hover {
  font-size: 30px;
  background: #000;
}

.myButton {
	background-color:#44c767;
	-moz-border-radius:35px;
	-webkit-border-radius:35px;
	border-radius:35px;
	border:3px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Verdana;
	font-size:10px;
	font-weight:bold;
	padding:9px 12px;
	text-decoration:none;
	text-shadow:0px 0px 4px #2f6627;
}
.inlistButton {
	background-color:#00f;
	-moz-border-radius:35px;
	-webkit-border-radius:35px;
	border-radius:35px;
	border:3px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Verdana;
	font-size:10px;
	font-weight:bold;
	padding:9px 12px;
	text-decoration:none;
	text-shadow:0px 0px 4px #2f6627;
}
.buttonDown {
	background-color:#00f;
}

.myButton:active {
	position:relative;
	top:1px;
}

.book_info {
position:absolute;
right:100px;
text-align: right;
padding:0px;
}
